<app-header></app-header>
<div class="container-master">
  <div class="patente-box">
    <p>patentes works!</p>

    <div class="box-icone">
      <div class="circular">
        <div class="number">
          <img src="/assets/img/recruta1.png" />
        </div>
        <svg height="100" width="100" class="activo dropdown" mdbDropdown>
          <circle
            cx="50"
            cy="50"
            r="40"
            stroke="#b6980c"
            stroke-width="6"
            fill="#fff"
          />
        </svg>
        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <p>Recruta I</p>

      </div>
    </div>

    <div class="box-icone">
      <div class="circular">
        <div class="number">
          <img src="/assets/img/recruta2.png" />
        </div>
        <svg height="100" width="100" >
          <circle
            cx="50"
            cy="50"
            r="40"
            stroke="#f7f7f7"
            stroke-width="6"
            fill="#fff"
          />
        </svg>
        <p>Recruta II</p>
      </div>
      <div class="circular">
        <div class="number">
          <img src="/assets/img/recruta3.png" />
        </div>
        <svg height="100" width="100">
          <circle
            cx="50"
            cy="50"
            r="40"
            stroke="#f7f7f7"
            stroke-width="6"
            fill="#fff"
          />
        </svg>
        <p>Recruta III</p>
      </div>
    </div>


    <div class="box-icone">
      <div class="circular">
        <div class="number">
          <img src="/assets/img/missi1.png" />
        </div>
        <svg height="100" width="100">
          <circle
            cx="50"
            cy="50"
            r="40"
            stroke="#f7f7f7"
            stroke-width="6"
            fill="#fff"
          />
        </svg>
        <p>Missionario I</p>
      </div>
    </div>


    <div class="box-icone">
      <div class="circular">
        <div class="number">
          <img src="/assets/img/missi2.png" />
        </div>
        <svg height="100" width="100" >
          <circle
            cx="50"
            cy="50"
            r="40"
            stroke="#f7f7f7"
            stroke-width="6"
            fill="#fff"
          />
        </svg>
        <p>Missionario II</p>
      </div>
      <div class="circular">
        <div class="number">
          <img src="/assets/img/missi3.png" />
        </div>
        <svg height="100" width="100">
          <circle
            cx="50"
            cy="50"
            r="40"
            stroke="#f7f7f7"
            stroke-width="6"
            fill="#fff"
          />
        </svg>
        <p>Missionario III</p>
      </div>
    </div>

    <div mdbDropdown class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        aria-expanded="false"
        mdbDropdownToggle
      >
        Dropdown button
      </button>
      <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>


  </div>
</div>
<app-footer></app-footer>
