<form class="mt-3 col-md-8 offset-md-2" (ngSubmit)="onSave()" [formGroup]="employeeForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Name" formControlName="displayName">
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="last name" formControlName="emailVerified">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="email" formControlName="email">
    </div>
    <div class="form-group col-md-6">

      <select formControlName="igreja">
        <option [ngValue]="null" disabled>Selecione a sua Igreja</option>
        <option *ngFor="let iasd of iasds" [ngValue]="iasd.value">
          {{ iasd.viewValue }}
        </option>
      </select>
    </div>
  </div>
  <button  mat-raised-button >Save</button>
</form>
<button (click)="onGoBackToList()" mat-stroked-button color="accent">Voltar</button>
<pre>{{employeeForm.value | json}}</pre>
<pre>{{employee | json}}</pre>
