<div class="container__table--style">

  <table class="table table-dark table-striped table__home">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Desbravador</th>
          <th scope="col">Classe</th>
          <th scope="col">Especialidade</th>
          <th scope="col">Titans</th>
          <th scope="col">Pontos</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employees$ | async; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.name}} {{item.lastName}}</td>
          <td>30%</td>
          <td>{{item.email}}</td>
          <td>300</td>
          <td>{{item.startDate}}</td>
          <td>
            <button (click)="onGoToEdit(item)" mat-stroked-button color="accent">Edit</button>
            <button (click)="onGoToSee(item)" mat-stroked-button color="accent">See</button>
            <button (click)="onGoToDelete(item.id)" mat-stroked-button color="warn">Delete</button>
          </td>
        </tr>

      </tbody>
    </table>

</div>
