<p>user-detail works!</p>
<div class="container margin-user">
    <div class="col-user-datail">
        <div class="container__user">
            <div class="box-title">
                <h2>Abimael santos</h2>
            </div>
            <div class=" box-button"></div>
            <div class=" box-dados">
                <img src="../../../assets/img/amigo.png">
            </div>
            <div class=" box-skill"></div>
        </div>

        <div class="col-especial-datail container__user">
            <img src="../../../assets/img/desbrava1.png" width="80%">
        </div>

    </div>

    <div class="col-conquister container__user">

    <app-table-conquest></app-table-conquest>
    </div>


</div>

