<ul class="container-b-menu-footer" *ngIf="width < 800">
  <li class="box-menu">
    <a href>
      <span class="b-img">
        <img src="../../../assets/img/classificacao.svg" />
      </span>
    </a>
  </li>

  <li class="box-menu">
    <a href>
      <span class="b-img">
        <img src="../../../assets/img/classificacao.svg" />
      </span>
    </a>
  </li>

  <li class="box-menu">
    <a href>
      <span class="b-img">
        <img src="../../../assets/img/classificacao.svg" />
      </span>
    </a>
  </li>
  <li class="box-menu">
    <a href>
      <span class="b-img">
        <img src="../../../assets/img/classificacao.svg" />
      </span>
    </a>
  </li>
</ul>
