<div class="container-b-menu-top">
  <div class="box-menu">
    <a [routerLink]="'/rank'" routerLinkActive="active">
      <div class="b-img">
        <img src="/assets/img/rank.png" class="onActive" />
        <img src="/assets/img/rank2.png" class="offActive" />
      </div>
      <span class="b-label">CLASSIFICAÇÃO</span>
    </a>
  </div>
  <div class="space-menu">

  </div>
  <div class="box-menu">
    <a [routerLink]="'/patente'" routerLinkActive="active" >
      <div class="b-img">
        <img src="/assets/img/patente.png" class="onActive" />
        <img src="/assets/img/patente2.png" class="offActive"/>
      </div>
      <span class="b-label">PATENTES</span>
    </a>
  </div>
  <div class="space-menu">

  </div>
  <div class="box-menu">
    <a href>
      <div class="b-img">
        <img src="/assets/img/pontos.png" class="onActive"/>
        <img src="/assets/img/pontos2.png" class="offActive"/>
      </div>
      <span class="b-label">PONTUAÇÃO</span>
    </a>
  </div>
  <div class="space-menu">

  </div>
  <div class="box-menu">
    <a href>
      <div class="b-img">
        <img src="/assets/img/shop.png" class="onActive"/>
        <img src="/assets/img/shop2.png" class="offActive"/>
      </div>
      <span class="b-label">LOJA</span>
    </a>
  </div>






</div>
