<div class="container-b-menu-top">
  <div class="box-menu">
    <a href>
      <div class="b-img">
        <img src="../../../assets/img/rank.png" />
      </div>
      <span class="b-label">CLASSIFICAÇÃO</span>
    </a>
  </div>
  <div class="space-menu">

  </div>
  <div class="box-menu">
    <a href>
      <div class="b-img">
        <img src="../../../assets/img/patente.png" />
      </div>
      <span class="b-label">PATENTES</span>
    </a>
  </div>
  <div class="space-menu">

  </div>
  <div class="box-menu">
    <a href>
      <div class="b-img">
        <img src="../../../assets/img/pontos.png" />
      </div>
      <span class="b-label">PONTUAÇÃO</span>
    </a>
  </div>
  <div class="space-menu">

  </div>
  <div class="box-menu">
    <a href>
      <div class="b-img">
        <img src="../../../assets/img/shop.png" />
      </div>
      <span class="b-label">LOJA</span>
    </a>
  </div>






</div>
