<div class="container-b-menu-top">
  <div class="box-menu">
    <a href>
      <div class="b-img">
        <img src="../../../assets/img/diamantes.png" />
      </div>
    </a>

  </div>

  <div class="box-menu">
   <div ngbDropdown class="d-inline-block b-img">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> <img src="../../../assets/img/avatar.png" /></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>
  </div>







</div>
