<div class="container-b-menu-top">
  <div class="box-menu">
    <a href>
      <div class="b-img">
        <img src="../../../assets/img/diamantes.png" />
      </div>
    </a>
  </div>
  <div class="box-menu" *ngIf="authService.userData as user">
    <a [routerLink]="'/dashboard'" routerLinkActive="active">
      <div class="b-img">
        <span class="profile">
        <img  src="{{
          user.photoURL ? user.photoURL : '/assets/img/avatar.png'
        }}" /></span>
      </div>
    </a>
  </div>
</div>
