/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
// @import "~bootswatch/dist/quartz/bootstrap.min.css";
@import "../src/assets/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200&display=swap");

body {
  // background: rgb(57,34,50);
  // background: linear-gradient(180deg, rgba(57,34,50,1) 0%, rgba(19,28,46,1) 52%, rgba(19,28,46,1) 100%);
  height: 100vh;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}


/* Media query */
@media screen and (min-width: 700px) {
  .container-master {
    margin: 0 auto;
    max-width: 1140px;
    min-width: 900px;
    &::before {
      height: 94px;
    }
  }

}
.container-fluid{
  overflow: auto;
  height: 100vh;
}
